<div id="<%= dom_id @chicken %>">
  <h3 class="py-5 text-blue-500 font-extrabold text-5xl"><%= @chicken.name %></h3><br/>

  <%= image_tag("#{@chicken.image_url}", width: 450, class: "justify-self-center rounded-2xl mb-4") %>
  <div class="text-left px-5 text-xl">
    <p class="font-bold">Breed</p>
    <p class="mb-5"><%= @chicken.breed %></p>

    <p class="font-bold">Hatch Date</p>
    <p class="mb-5"><%= local_date(@chicken.dob) %></p>

    <p class="font-bold">Tell</p>
    <p class="mb-5"><%= @chicken.tell %></p>

    <p class="font-bold">Eggs Laid in 2025</p>
    <p class="mb-5"><%= @chicken.egg_entries.sum(:egg_count) %></p>
  </div>
</div>