<div id="<%= dom_id chicken %>">
  <h3><%= chicken.name %></h3>

  <%= image_tag("#{chicken.image_url}", width: 400 ) %>
  <br/>
  <p>
    <strong>Breed:</strong>
    <%= chicken.breed %>
  </p>

  <p>
    <strong>DOB:</strong>
    <%= chicken.dob.strftime("%m/%d/%Y") %>
  </p>

  <p>
    <strong>Tell:</strong>
    <%= chicken.tell %>
  </p>

</div>
