<div class="border-1 rounded-2xl bg-blue-200 justify-items-center text-xl
  justify-self-center md:shrink-0 w-100 md:w-150 items-center py-5">
  <%= form_with(model: chicken) do |form| %>
    <%= render partial: '/marketing/ui_errors', locals: { obj: chicken } %>

    <div class="bg-blue-50 rounded-2xl text-left mt-3 pl-2">
      <%= form.label :name, "Name: ", class: 'font-bold' %>
      <%= form.text_field :name, class: 'font-semibold pl-2' %>
    </div>

    <div class="bg-blue-50 rounded-2xl text-left mt-3 pl-2">
      <%= form.label :breed, "Breed: ", class: 'font-bold' %>
      <%= form.text_field :breed, class: 'font-semibold pl-2' %>
    </div>

    <div class="bg-blue-50 rounded-2xl text-left mt-3 pl-2">
      <%= form.label :tell, "Tell: ", class: 'font-bold' %>
      <%= form.text_field :tell, class: 'font-semibold pl-2' %>
    </div>

    <div class="bg-blue-50 rounded-2xl text-left mt-3 pl-2">
      <%= form.label :dob, "Hatch Date: ", class: 'font-bold' %>
      <%= form.date_field :dob, class: 'font-semibold pl-2' %>
    </div>

    <div class="bg-blue-50 rounded-2xl text-left mt-3 pl-2">
      <%= form.label :image_url, "Image URL: ", class: 'font-bold' %>
      <%= form.text_field :image_url, class: 'font-semibold pl-2' %>
    </div>

    <div class="bg-blue-50 rounded-2xl text-left mt-3 pl-2 mb-1">
      <%= form.label :status, "Status: ", class: 'font-bold pr-3' %>
      <%= form.radio_button :status, "pullet"%>
      <%= form.label :status_pullet, "ðŸ¤ Pullet", class: 'pr-3' %>
      <%= form.radio_button :status, "layer" %>
      <%= form.label :status_layer, "ðŸ” Layer", class: 'pr-3' %>
      <% if chicken.persisted? %>
        <%= form.radio_button :status, "expired" %>
        <%= form.label :status_expired, "ðŸª¦ Expired", 
          class: 'pr-3 text-red-700' %>
      <% end %>
    </div>
    
    <%= form.hidden_field :household_id, value: Current.user.household_id %>
    <br/>
    <div>
      <%= form.submit class: 'inline cursor-pointer bg-yellow-300 hover:bg-yellow-500 p-3 rounded-2xl' %>
    </div>
  <% end %>
</div>