<p style="color: green"><%= notice %></p>

<% content_for :title, "My Flock" %>

<h2>My Flock</h2>

<div id="chickens">
  <% @chickens.each do |chicken| %>
    <p><strong><%= chicken.name %></strong></p>
    <%= image_tag("#{chicken.image_url}", width: 200 ) %>
    <p>
      <%= link_to "Details", chicken %>
    </p><br/>
  <% end %>
</div>

<%= link_to "New chicken", new_chicken_path %>
