<div id="<%= dom_id egg_entry %>">

  <p>
    <strong>Date:</strong>
    <%= egg_entry.created_at.strftime("%m/%d/%Y") %>
  </p>

  <p>
    <strong>Egg count:</strong>
    <%= egg_entry.egg_count %>
  </p>

  <p>
    <strong>Chicken:</strong>
    <%= egg_entry.chicken_id %>
  </p>

  <p>
    <strong>Collection entry:</strong>
    <%= egg_entry.collection_entry_id %>
  </p>

</div>
