<div class="border-1 rounded-2xl bg-blue-200 justify-items-center text-xl text-blue-950 justify-self-center md:shrink-0 w-110 md:w-150 items-center pt-5 px-3 py-5">
  <%= form_with model: @user do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited these user settings from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="inline-flex bg-blue-50 rounded-2xl text-left mt-3 pl-2 py-1 md:shrink-0 w-100 md:w-120 ">
      <%= form.label :display_name, "Display Name: ", class: 'font-bold' %>
      <%= form.text_field :display_name, class: 'font-semibold pl-2' %>
    </div>

    <div class="inline-flex gap-1 md:gap-3.5 bg-blue-50 rounded-2xl text-left mt-3 pl-2 py-1 mb-5 md:shrink-0 w-100 md:w-120 ">
      <%= form.label :mode, "Mode: ", class: 'font-bold pr-2' %>
      <%= form.radio_button :mode, "flock" %>
      <%= form.label :mode_flock, "Flock", class: 'pr-2' %>   
      <%= form.radio_button :mode, "layer" %>
      <%= form.label :mode_layer, "Layer" %>
      <p class="inline mx-2 px-2 bg-blue-200 rounded-2xl opacity-50 hover:opacity-90 w-fit"><a href="/faq" target="_blank">🤔 What's this?</a></p>
    </div>

    <div>
      <%= form.submit "Save", class: "rounded-2xl px-3.5 py-2.5 font-bold text-white bg-blue-600 hover:bg-blue-700 font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>