<% content_for :title, "How it Works" %>

<div class="flex flex-col gap-5 justify-self-center">
  <h1 class="font-extrabold text-lime-700 text-4xl pb-7">
    How It Works
  </h1>

  <div class="flex flex-col gap-5 bg-yellow-50 p-10 text-left">

    <div class="flex flex-col gap-4">
      <h2 class="font-bold text-3xl">🧑‍🌾 GRAND TOUR</h2>

      <div class="flex flex-col gap-4 pl-10">
        <h3 class="font-semibold text-2xl">Welcome to Henventory!</h3>
        <p class="font-semibold mb-5">Let's take a look around.</p>
        <p class="font-semibold">If you've made it this far, you've probably seen the home page.</p>
        <%= image_tag("/ss/homepage.png",
          width: 450,
          class: 'rounded-2xl mb-5') %> 

        <p class="font-semibold">First, you'll want to sign up for an account, if you haven't already. </p>
        <p class="font-semibold">Just fill out the form under the <%= link_to "sign up", new_user_path, class: 'font-bold hover:text-blue-700' %> tab.</p>
        <p class="font-semibold text-xs px-5">❗IMPORTANT: If someone has invited you to join their household on Henventory, use their referral link to sign up!</p>
        <%= image_tag("/ss/signupform.png",
          width: 450,
          class: 'rounded-2xl mb-5') %>

        <p class="font-semibold">Alright, now that you're signed up, let's <%= link_to "log in", new_session_path, class: 'font-bold hover:text-blue-700' %>!</p>
        <%= image_tag("/ss/login.png",
            width: 450,
            class: 'rounded-2xl mb-5') %>

        <p class="font-semibold">Once you're logged in, you'll see a summary of your flock's day so far.</p>
        <%= image_tag("/ss/landing.png",
            width: 450,
            class: 'rounded-2xl') %>
        <p class="font-semibold">Here, we can see that we don't have any eggs logged for the day: not yet, anyway!</p>
        <hr class="mt-10"/>
        <p class="font-bold text-xl">Before we look at <i>how</i> to track your eggs, let's go through our menu options.</p>
        <hr class="mb-10"/>
        <h4 class="font-semibold text-lg">Today's Entries</h4>
        <p> This is where you'll see all of the eggs you've collected today. </p>
        <%= image_tag("/ss/todaysentries.png",
            width: 450,
            class: 'rounded-2xl') %>
        <p class="mb-5">And of course, we don't have anything logged yet. Don't worry: we'll fix that soon.</p>

        <h4 class="font-semibold text-xl">All Entries</h4>
        <p>Here, you'll find all of the egg entries you've made. You can view them from newest to oldest...</p>
        <%= image_tag("/ss/cemrtolr.png",
            width: 450,
            class: 'rounded-2xl mb-5') %>

        <p>...or you can use the calendar filter feature to find a specific day!</p>
        <%= image_tag("/ss/cecalfil.png",
            width: 450,
            class: 'rounded-2xl mb-5') %>

        <h4 class="font-semibold text-xl">My Flock*</h4>
        <p class="font-semibold text-xs">*Layer Mode only</p>
        <p>This is where you can keep track of all of your chickens.</p>
        <p>❗ We're in the process of expanding this feature, to show you a chicken's weekly average, the last time they laid an egg, and more!</p>
        <%= image_tag("",
            width: 450,
            class: 'rounded-2xl mb-5') %>

        <h4 class="font-semibold text-xl">Settings</h4>
        <p>This is where you can change your display name and password.</p>
        <p>You'll also find your referral link here, if you want to invite someone to help you track eggs for your flock.</p>
        <%= image_tag("",
            width: 450,
            class: 'rounded-2xl mb-5') %>

        <h4 class="font-semibold text-xl">Log Out</h4>
        <p>This one's pretty self-explanatory :)</p>

        <p>Okay, now that we've taken the grand tour, let's look at how to create egg entries!
      </div>
    </div>

    <hr/>
    
    <div class="flex flex-col gap-2">
      <h2 class="font-bold text-2xl">🥚 FLOCK MODE</h2>

      <div class="flex flex-col gap-2 pl-10">
        <p>In flock mode, things are nice and easy. All you have to do is... </p>

        <h3 class="font-semibold text-lg">1. Create an egg entry</h3>
      </div>

    </div>

    <hr/>

    <div>
      <h2 class="font-bold text-2xl">🐔 LAYER MODE</h2>

      <div class="flex flex-col gap-2 pl-10">
        <h3 class="font-semibold text-lg">1. add a chicken to your flock</h3>
          
        <h3 class="font-semibold text-lg">2. add an egg entry</h3>
        <h4 class="font-semibold pl-4">❓but what if i have more than 1 egg to enter?</h4>
      </div>
    </div>
  </div>    
</div>