<% if notice.present? %>
  <p class="py-2 px-3 bg-blue-100 mb-5 text-green-700 font-medium inline-block rounded-2xl" id="notice"><%= notice %></p>
<% end %>
  
<h1 class="font-extrabold text-3xl text-blue-800 mb-1">Settings</h1>
<p class="text-sm italic">Logged in as <%= @user.display_name %></p>
<p class="text-sm italic mb-5">Household: <%= @household.name %></p>

<button class="font-bold text-white bg-lime-600 hover:bg-lime-700 p-3 rounded-2xl mt-5 align-self-center"><%= link_to "edit household name", edit_household_path(@household) %></button><br/>

<button class="font-bold text-white bg-amber-600 hover:bg-amber-700 p-3 rounded-2xl mt-5 align-self-center"><%= link_to "change your password", edit_password_path(Current.user.password_reset_token) %></button><br/>

<button class="font-bold text-white bg-blue-500 hover:bg-blue-600 p-3 rounded-2xl mt-5 align-self-center">text</p></button>
<!-- see code review notes from today for how to fix this syntax issue you're having with edit_user_path -->