<div id="<%= dom_id collection_entry %>">
  <h3><u>Collection Entry #<%= collection_entry.id %></u></h3>

  <p><b>Date: <%= collection_entry.created_at.strftime("%m/%d/%Y") %></b></p><br/>

  <% ee_array = EggEntry.all.filter { |ee| ee.collection_entry_id == collection_entry.id } %>

  <!-- only display the egg entries whose `c_e_id` matches the `id` of the current collection_entry -->

  <% ee_array.each do |ee| %>
    <fieldset>
      <legend>Egg Entry #<%= ee.id %></legend>
      <p>EE created at: <%= ee.created_at.strftime("%m/%d/%Y")%></p>
      <p>EE id #: <%= ee.id %></p>
      <p>EE collection entry id #: <%= ee.collection_entry_id %></p>
      <p>EE chicken: <%= ee.chicken_id %></p><br/>
    </fieldset>
  <% end %>
  <br/><br/>
</div>
