<br/>
<div id="<%= dom_id collection_entry %>">
  <h3><u> > Collection Entry #<%= collection_entry.id %></u></h3>

  <p><b>Date: <%= collection_entry.created_at.strftime("%m/%d/%Y") %></b></p><br/>

  <!-- only display the egg entries whose `c_e_id` matches the `id` of the current collection_entry -->

  <% collection_entry.egg_entries.each do |ee| %>
    <fieldset>
      <legend>Egg Entry #<%= ee.id %></legend>
      <p>date: <span data-display-date="<%= ee.created_at %> "></p>
      <p>time: <span data-display-timestamp="<%= ee.created_at %>"></span></p>
      <p>chicken: <%= ee.chicken.name %></p><br/>
      <br/>
    </fieldset>
  <% end %>
  <br/>

  <p><b>Eggs Collected:</b></p>

  <%= collection_entry.egg_entries.length %>

  <br/><br/>
</div>

<script>
  addEventListener("pageshow", function (_event) {
    console.log("Hello test");
    document.querySelectorAll('[data-display-timestamp]').forEach(function (element) {
      const timestamp = element.dataset.displayTimestamp
      const time = new Date(timestamp)
      element.innerText = `${time.toLocaleTimeString(undefined, {
        hour: '2-digit',
        minute: '2-digit',
      })}` ;
    });

    document.querySelectorAll('[data-display-date]').forEach(function (element) {
      const datestamp = element.dataset.displayDate
      const date = new Date(datestamp)
      element.innerText = `${date.toLocaleDateString()}` ;
    });

  });
</script>