<br/>
<div id="<%= dom_id collection_entry %>" class="">
  <h3 class="font-extrabold text-lg text-green-800">COLLECTION ENTRY #<%= collection_entry.id %></h3>

  <p class="text-sm"><%= format_date(collection_entry.created_at) %></p><br/>

  <!-- only display the egg entries whose `c_e_id` matches the `id` of the current collection_entry -->

  <% collection_entry.egg_entries.each do |ee| %>
    <div class="text-sm">
      <h4 class="font-semibold">Egg Entry #<%= ee.id %></h4>
      <p>time: <%= ee.created_at.strftime("%l:%M%P UTC") %></p>
      <p>chicken: <%= ee.chicken.name %></p><br/>
      <br/>
    </div>
  <% end %>
  <br/>

  <p class="font-bold text-green-600">Eggs Collected:</p>

  <%= collection_entry.egg_entries.length %>

  <br/><br/>
</div>
