<div class='bg-blue-100 rounded-xl'>
  
  <% if ee_form.object.persisted? %>
    <%= ee_form.label :chicken_id, "Chicken: " %>
    <%= ee_form.collection_select :chicken_id, @chickens, :id, :name %>
    <label class="text-red-600 px-2">
      <%= ee_form.check_box :_destroy %>
      <span>remove</span>
    </label>
  <% else %>
    <%= ee_form.label :chicken_id, "Chicken: " %>
    <%= ee_form.collection_select :chicken_id, @chickens, :id, :name %>
    <br/><br/>
    <%= ee_form.label :egg_count, "Egg laid " %>
    <%= ee_form.checkbox :egg_count %>
  <% end %>
</div><br/><br/>