<%= form_with(model: collection_entry) do |form| %>
  <% if collection_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collection_entry.errors.count, "error") %> prohibited this collection_entry from being saved:</h2>

      <ul>
        <% collection_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
      This is just here to have a field to save stuff to create an entry.
  </p><br/>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id%>
  </div><br/>

  <div>
    [render an egg entry partial]
  </div><br/>

  <div>
    [button to generate a new egg entry]
  </div><br/>

  <div>
    <%= form.submit %>
  </div>

<% end %>
