<div class="border-1 rounded-2xl bg-blue-200 justify-items-center">
  <%= form_with model: @collection_entry do |collection_entry_form| %>
    <% if collection_entry.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(collection_entry.errors.count, "error") %> prohibited this collection_entry from being saved:</h2>

        <ul>
          <% collection_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br/>

    <%= collection_entry_form.label :user_id, "COLLECTOR", class:'text-blue-700 font-bold' %>
    <br/>
    
    <div id='ee-container'>
      <%= collection_entry_form.select :user_id, User.all.collect { |person| [ person.display_name, person.id ] }, include_blank: true %>
      <br/><br/><br/>

      <div class="my-5 bg-slate-100 rounded-md p-4 flex items-center justify-center" id="egg-entry-div">

        <%= collection_entry_form.fields_for :egg_entries do |ee_form| %>

          <%= ee_form.label :chicken_id, "Chicken: " %>
          <%= ee_form.collection_select :chicken_id, @chickens, :id, :name %>

          <%= ee_form.label :egg_count, "Egg Count: " %>
          <%= ee_form.text_field :egg_count %>

        <% end %>

      <!--BUG - 2/19 11:22a - when multiple EE forms are rendered in a new CE form, only the most recently added EE form gets saved BUT if we edit that CE and add an EE, it does add that new EE to the CE, so that's a longwinded way to add multiple EEs to the CE. obviously not desirable for full functionality, but noting what DOES work for now to aid in debugging later -->
      </div>
    </div>

    <div>
      <p class="w-50 bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 border-1 rounded-2xl" id="add-ee-button">+ add egg entry</p>
    </div><br/><br/>
    
    <%= collection_entry_form.submit class: 'bg-yellow-300' %>
  <% end %>

  <br/><br/>
</div>
    
<script>
  // event listener for button click 
  const addEEButton = document.querySelector("#add-ee-button");
  addEEButton.addEventListener("click", () => addEEForm());
  
  // function for adding new ee div
  // BUG 2/19 11:22a - have to refresh page for the button to work
  function addEEForm() {
    const originalEggEntryDiv = document.getElementById('egg-entry-div');
    const clonedEggEntryDiv = originalEggEntryDiv.cloneNode(true);

    // how to increment the index in here - because this test works
    clonedEggEntryDiv.querySelectorAll('[id="collection_entry_egg_entries_attributes_0_chicken_id"]')[0].id = "test";

    document.querySelector("#ee-container").appendChild(clonedEggEntryDiv);
  }
</script>