<div class="border-1 rounded 2xl">
  <%= form_with(model: collection_entry) do |form| %>
    <% if collection_entry.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(collection_entry.errors.count, "error") %> prohibited this collection_entry from being saved:</h2>

        <ul>
          <% collection_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <br/><br/>
    <h5>Who collected?</h5>
    <select name="collection_entry[user_id][][display_name]" class="border-1 rounded 2xl">
      <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.display_name %></option>
      <% end %>
    </select>
    <br/><br/>

    <%
      @collection_entry.egg_entries.build
    %>

    <div class="border-1 rounded 2xl"> 
      <%= form.fields_for(:egg_entries) do |egg_entry_form| %>
      <%= render partial: 'egg_entry_form', locals: { egg_entry_form: } %> 
      <% end %>
    </div><br/><br/>

    <div>
      <p class="font-bold">+ add egg entry</p>
    </div><br/><br/>
</div><br/><br/>

  <!--# egg_entries_attributes: [{chicken_id: 2, egg_count: 1,
 id: 1}]-->

  <div class="border-1 rounded 2xl">
    <%= form.submit %>
  </div>

<% end %>
