<div class="border-1 rounded-2xl">
  <%= form_with(model: collection_entry) do |collection_entry_form| %>
    <% if collection_entry.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(collection_entry.errors.count, "error") %> prohibited this collection_entry from being saved:</h2>

        <ul>
          <% collection_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class="font-extrabold text-lg text-green-800">COLLECTION ENTRY #<%= collection_entry.id %></h3><br/><br/>

    <div id="user-id-form-field">
      <p>ERB: <%= collection_entry_form.label :user_ID %></p>
      <h5>HTML - Who collected?</h5>
      <select name="collection_entry[user_id][][display_name]" class="border-1 rounded-lg">
        <% @users.each do |user| %>
          <option value="<%= user.id %>"><%= user.display_name %></option>
        <% end %>
      </select>
    </div> 

    <div id ="ee-container">
      <%= fields_for :egg_entry, @collection_entry.egg_entries do |egg_entry_form| %>
        <p>/////test for egg_entry fields/////</p><br/>

        <h5>Chicken: </h5>
        <!-- written in straight html, REFACTOR by writing w/ action form syntax ie bracketpercentequals egg_entry_form.text_field :]chicken_id percentequals --- when I had tried that before I got an error that "chicken id" was a method that didn't exist for the given model -->
        <select name="collection_entry[egg_entries_attributes][][chicken_id]">

          <!-- form.collection_select :chicken_id, Chicken.all, :id, :name, prompt: true -->
          <% @chickens.each do |chicken| %>
            <option value="<%= chicken.id %>"><%= chicken.name %></option>
          <% end %>
        </select><br/><br/>

        <h5>Egg Count</h5>
        <input name="collection_entry[egg_entries_attributes][][egg_count]"/><br/><br/>

        <!--12:25pm sun - allows submission and displays 'ce successfully updated' on `ce#show` view after click, but doesn't actually delete it. then again i don't think the destroy button worked properly on the last iteration of nesting that I had tried a5861a2dd47f57363ccc70a5e597aef379eda882 -->
        <h5>delete test</h5>
        <input type="checkbox" name="collection_entry[egg_entries_attributes][][_destroy]" id="ce-ee-destroy">
        <label for="ce-ee-destroy">delete this ee</label>
      </div>

      <% end %>

     <div>
       <p class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" id="add-ee-button">+ add egg entry</p>
     </div><br/><br/>

    </div>


    
    <%= collection_entry_form.submit class: 'bg-yellow-300' %>

   <% end %>

  <br/><br/>


  <!---->
  <p class="italic">^^ Building form w/ tutorial</p>
  <p class="italic">vv Old form </p>


  <!-- builds empty EE - may remove once I get pageload event listener working -->
  <% @collection_entry.egg_entries.build %>

  <br/><br/>
    
  
    <h5>Who collected?</h5>
    <select name="collection_entry[user_id][][display_name]" class="border-1 rounded-lg">
      <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.display_name %></option>
      <% end %>
    </select>
    <br/><br/>

</div>
    
<script>
  // // event listener for page load
  // addEventListener("load", () => initialEEForm());
      // NOT WORKING, may need to try a different event
        // tried load, pageshow, and DOMContentLoaded
      // this error appears on pageload in the console:
      // VM7130:1 Uncaught SyntaxError: Failed to execute 'replaceWith' on 'Element': Identifier 'addEEButton' has already been declared
      // if I refresh the page, initialEEForm DOES run ^^, it just doesn't necessarily load upon initial page load

  // event listener for button click 
  const addEEButton = document.querySelector("#add-ee-button");
  addEEButton.addEventListener("click", () => addEEForm());
  // this works BUT the button is causing the form to submit.
    // changed it to a p tag and this stopped it from submitting the form
  
  // function for adding new ee div
  function addEEForm() {
    console.log("addEEForm Test 1");
    const formDiv = document.createElement("div");
    formDiv.classList.add("bg-green-300");
    formDiv.classList.add("border-1");
    // FIXME - drops object id, need it to render an ee form partial
    formDiv.innerHTML='<div><p>test - new egg entry form added</p></div>';
    document.querySelector("#ee-container").appendChild(formDiv);
  }

  // tried writing a specific func for pageload bc of the error I kept getting in console; thought maybe it wasn't allowed to be used twice (seems silly but who knows)
  function initialEEForm() {

    console.log("Initial EE Form.");
  }
</script>