<div class="border-1 rounded-2xl bg-blue-200 justify-items-center">
  <%= form_with model: collection_entry do |collection_entry_form| %>
    <% if collection_entry.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(collection_entry.errors.count, "error") %> prohibited this collection_entry from being saved:</h2>

        <ul>
          <% collection_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br/>

    <%= collection_entry_form.label :user_id, "COLLECTOR", class:'text-blue-700 font-bold' %>
    <br/>
    
    <div id='ee-container'>
      <!--REFACTOR DONE~!-->
      <!--[?] how to add classes here to style-->
      <%= collection_entry_form.select :user_id, User.all.collect { |person| [ person.display_name, person.id ] }, include_blank: true %>
      <br/><br/><br/>

      <div id='egg-entry-div'>
        <%= render 'egg_entry_form' %>
      </div>
    </div>

    <div>
      <p class="w-50 bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 border-1 rounded-2xl" id="add-ee-button">+ add egg entry</p>
    </div><br/><br/>
    
    <%= collection_entry_form.submit class: 'bg-yellow-300' %>
  <% end %>

  <br/><br/>
</div>
    
<script>
  // event listener for button click 
  const addEEButton = document.querySelector("#add-ee-button");
  addEEButton.addEventListener("click", () => addEEForm());
  
  // function for adding new ee div
  function addEEForm() {
    const originalEggEntryDiv = document.getElementById('egg-entry-div');
    const clonedEggEntryDiv = originalEggEntryDiv.cloneNode(true);

    document.querySelector("#ee-container").appendChild(clonedEggEntryDiv);
  }
</script>