<div class="border-1 rounded-2xl bg-blue-200 justify-items-center text-xl text-blue-950 w-200 justify-self-center">
  <%= form_with model: @collection_entry do |collection_entry_form| %>
    <% if collection_entry.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(collection_entry.errors.count, "error") %> prohibited this collection_entry from being saved:</h2>

        <ul>
          <% collection_entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <br/>
    <div class="bg-blue-50 rounded-2xl">
      <%= collection_entry_form.label :user_id, "Who collected?", class:'text-blue-800 font-bold text-2xl' %><br/>
      <%= collection_entry_form.select :user_id, User.all.collect { |person| [ person.display_name, person.id ] }, prompt: 'select your name' %>

    </div>
    <br/>
    
    <div class='my-4 flex flex-col'
        data-controller='nested-form'
        data-nested-form-pattern-to-replace-with-index-value='EGG_ENTRY_INDEX'
    >
      <template data-nested-form-target="formTemplate">

        <%= collection_entry_form.fields_for :egg_entries, EggEntry.new, child_index: "EGG_ENTRY_INDEX" do |ee_form| %>
          <%= render partial: 'egg_entry_form', locals: { ee_form: } %>
        <% end %> 
      </template>
        
        <div data-nested-form-target="itemsList">
          <%= collection_entry_form.fields_for(:egg_entries) do |ee_form| %>
            <%= render partial: 'egg_entry_form', locals: { ee_form: } %>
          <% end %>
          
        </div>
        <div class="">
          <span class="btn-primary cursor-pointer btn-sm bg-yellow-100 rounded-2xl p-3" data-action="click->nested-form#addItem">Got another egg?</span>
        </div><br/>
    </div><br/>
    
    <div class="inline cursor-pointer">
      <%= collection_entry_form.submit class: 'bg-yellow-300 p-3 rounded-2xl'%>
    </div>
  <% end %>

  <br/><br/>
</div>
