<% content_for :title, "Collection Entries" %>
<h2 class="page-title text-amber-700">
  Collection Entries
</h2>

<div class="outer-container">
<% if @calendar %>
  <div class="calendar-filter-selection-container">
    <h3 class="text-xl font-bold text-gray-600 pb-2 upcase">Filters</h3>
    <p>Select Month:</p>
    <%== pagy_nav(@calendar[:month]) %>

    <p class="mt-5">Select Week:</p>
    <%== pagy_nav(@calendar[:week]) %>

    <p class="mt-5">Select Day:</p>
    <%== pagy_nav(@calendar[:day]) %>

    <div class="my-5">
      <%= link_to 'Hide Calendar Filters', 
        collection_entries_path(skip: false),
        class: 'btn-upcase bg-gray-400 hover:bg-gray-500' %>
    </div>  
  </div>

  <div class="card bg-green-200 border-green-300">
    <p class="font-semibold text-xl">
      You are now viewing entries from</p>
    <p class="font-bold text-lime-800 text-2xl mb-5">
      <%== @calendar[:day].label(format: '%B %d %Y') %>
    </p>
    <p class="font-semibold">Eggs collected on this day: </p>
    <p class="text-4xl"><%= render 'egg_emoji_tally' %></p>
  </div>
<% end %>

<% unless params[:skip] %>
  <div class="no-calendar-info-container">
    <p class="font-semibold text-xl">
      You are now viewing all collection entries.
    </p>
  </div>
  <button class="btn-upcase bg-lime-600 hover:bg-lime-700">
    <%= link_to 'Show Calendar Filters', collection_entries_path(skip: true) %>
  </button>
<% end %>

<div id="collection_entries" 
  class="md:shrink-0 w-100 md:w-150 items-center justify-self-center">
  <% @collection_entries.each do |collection_entry| %>
    <div class="flex flex-col py-6 mb-5 border border-blue-300 
      rounded-2xl bg-blue-200">
      <%= render collection_entry %>
    </div>
  <% end %>
</div>

  <div class="justify-self-center justify-items-center pt-5">
    <%== pagy_nav(@pagy) %>
    <p class="mt-5">
      <%== pagy_info(@pagy, item_name: 'Entry'.pluralize(@pagy.count)) %>
    </p>
  </div>
</div>