<% if notice.present? %>
  <p class="py-2 px-3 bg-blue-100 mb-5 text-green-700 font-medium inline-block rounded-2xl" id="notice"><%= notice %></p>
<% end %>

<h2 class="font-extrabold text-blue-800 text-4xl pb-7">DETAILS</h2>

<div class="mb-5 md:shrink-0 w-100 md:w-150 items-center justify-self-center">
  <div class="py-6 mb-5 border border-blue-300 rounded-2xl bg-blue-200">
    <%= render @collection_entry %>
  </div>

  <div class="py-6 border border-blue-200 rounded-2xl bg-blue-100 text-lg text-blue-950">
    <p class="mb-5 text-2xl font-bold underline">Options</p>
    <div class="py-3"><%= link_to "âœï¸ Edit this entry", edit_collection_entry_path(@collection_entry), class:'hover:font-bold' %></div>
    <div class="py-3"><%= link_to "â¬…ï¸Back to all entries", collection_entries_path, class:'hover:font-bold' %></div>
    <div class="py-3"><%= button_to "ðŸ—‘ï¸Delete this entry", @collection_entry, method: :delete, class: 'text-amber-700 hover:font-bold' %></div>
  </div>
</div>
