<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Henventory" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-4 -mb-6 text-center">
      <h1 class="text-4xl font-extrabold text-blue-400 hover:text-blue-600"><a href="/">Henventory</a></h1><br/>
    </header> 

    <section>
      <nav class="flex justify-center">
        <ul class="flex w:full items-center justify-center text-center">
          <li class="p-4 font-semibold hover:text-blue-400"><a href="/collection_entries"><a href="/">Home</a></li>
          <li class="p-4 font-semibold hover:text-blue-400"><a href="/collection_entries">Collection Entries</a></li>
          <li class="p-4">Edit Today's Count</li>
          <li class="p-4">View Past Logs</li>
          <li class="p-4 font-semibold hover:text-blue-400"><a href="/chickens">My Flock</a></li>
          <li>Settings</li>
          <li class="p-2 font-semibold hover:text-red-700"><a href="/collection_entries"><%= button_to "Log out", session_path, method: :delete if authenticated? %></a></li>

        </ul>
      </nav>
    </section>

    <main class="p-6 text-center">
    <%= yield %>
    </main>
  </body>
</html>
