<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Henventory" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-50 text-blue-950 flex flex-col min-h-screen">
    <header class="p-4 pb-6 text-center bg-blue-100">
      <h1 class="text-5xl font-extrabold text-blue-400 hover:text-amber-600">
        <% if Current.user %>
          <%= link_to "🐔 Henventory 🥚", landing_path %>
        <% else %>
          <%= link_to "🐔 Henventory 🥚", root_url %>
        <% end %>
      </h1>
    </header> 

    <section>
      <nav class="flex justify-center bg-blue-200 ">
        <ul class="flex w:full items-center justify-center text-center">
          <% if Current.user %>
            <li class="p-4 font-semibold hover:text-blue-400">
              <%= link_to "📅 Today's Entries", today_path %>
            </li>
            <li class="p-4 font-semibold hover:text-blue-400">
              <%= link_to "📒 All Entries", collection_entries_path %>
            </li>
            <% if Current.user.mode == "layer" %>
              <li class="p-4 font-semibold hover:text-blue-400">
                <%= link_to "🐔 My Flock", chickens_path %>
              </li>
            <% end %>
            <li class="p-4 font-semibold hover:text-blue-400">
              <%= link_to "⚙️ Settings", settings_path %>
            </li>
            <li class="p-4 font-semibold hover:text-red-700">
              <%= button_to "👋 Log out", session_path, method: :delete %>
            </li>
          <% else %>
            <li class="p-4 font-bold hover:text-blue-800">
              <%= link_to ' ➡️ Login', new_session_path %>
            </li>
            <li class="p-4 font-bold hover:text-blue-800">
              <%= link_to '✍️ Sign up', new_user_path %>
            </li>
            <li class="p-4 font-bold hover:text-blue-800">
              <%= link_to '✴️ FAQ', faq_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </section>

    <main class="p-6 text-center flex-grow">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium 
        rounded-md inline-block" id="notice">
        <%= notice %>
      </p>
    <% end %>
    <%= yield %>
    </main>

  </body>
  <footer class="text-center bg-blue-100 py-5">
    <div class="flex flex-row gap-5 justify-self-center">
      <div>
        <ul class="list-none p-2 text-sm">
          <li class="hover:text-amber-700 hover:cursor-pointer">
            <%= link_to "How it Works", how_it_works_path %>
          </li>
          <li class="hover:text-amber-700 hover:cursor-pointer">
            <%= link_to "FAQ", faq_path %>
          </li>
          <li class="hover:text-amber-700">
            <%= link_to "Acknowledgments", acknowledgements_path %>
          </li>
        </ul>
      </div>
    </div>
    
    <p class="font-semibold mt-4 text-xs">
      ©️ AJ <%= Time.now.year %>
    </p>

  </footer>
</html>